<template>
  <div>
    <user-input></user-input>
  </div>
</template>

<script>
  import UserInput from './UserInput';

  export default {
    components: {
      UserInput,
    },
  };
</script>

 <!--Add "scoped" attribute to limit CSS to this component only -->
<style>
</style>
