<template>
  <div>
    <input placeholder="Paste your string here" v-on:input="stringFilters()" v-model="inputString">
    <div v-for="str in outputStrings">
      {{ str.key }}: {{ str.processedString }}
    </div>
  </div>
</template>

<script>
  import filters from '@/filters';

  export default {
    data() {
      return {
        inputString: '',
        outputStrings: [],
      };
    },
    methods: {
      stringFilters() {
        if (this.inputString === '') {
          this.inputString = null;
        }

        this.outputStrings = Object.keys(filters).map(key => ({
          key,
          processedString: filters[key](this.inputString),
        }));
      },
    },
  };
</script>

<style></style>
