<template>
  <div id="app">
    <!--<img src="./assets/logo.png">-->
    <router-view></router-view>
  </div>
</template>

<script>
export default {
  name: 'app',
};
</script>

<style lang="scss">
  @import 'styles/main';

  #app {
    display: flex;
    flex-flow: row wrap;
  }
</style>
